/* Mobile-First Adjustments */
.gallery__container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px 70px;
}

/* Typography */
.section__title {
  color: var(--title-color);
}

.section__subtitle {
  color: var(--subtitle-color);
}

/* Card layout & style */
.gallery__item {
  position: relative;
  background-color: var(--background-accent-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.322);
  border-radius: 10px;
  height: 400px;
  width: 92%;
  overflow: hidden;
}

/* Hover effects */
.gallery__item:hover .gallery__overlay {
  top: 20%;
}

.gallery__item:hover .gallery__image {
  object-position: 70% 0;
}

/* Image */
.gallery__image {
  object-fit: cover;
  display: block;
  margin: 2.5% auto;
  width: 95%;
  height: 95.5%;
  border-radius: 5px;
}

/* Specific image adjustments */
.gallery__image-4 {
  object-position: 80% 0;
}

/* Overlay */
.gallery__overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35%;
  left: 2.5%;
  right: 2.5%;
  bottom: 2.5%;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.678) 35%, rgb(0, 0, 0) 100%);
  color: rgb(255, 255, 255);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all var(--transition-speed-medium) ease-in-out;
}

/* Overlay content typography */
.gallery__overlay .gallery__title {
  mix-blend-mode: difference;
  margin-top: 25%;
  margin-left: 2.5%;
}

.gallery__overlay .gallery__description {
  color: rgb(216, 216, 216);
  mix-blend-mode: difference;
  margin-left: 4%;
  max-width: 85%;
}

/* Desktop Adjustments */
@media (min-width: 1280px) {
  .gallery__item {
    height: 700px;
    max-width: 550px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  }

  .gallery__overlay {
    top: 30%;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.76) 35%, rgb(0, 0, 0) 100%);
  }

  .gallery__overlay .gallery__title {
    margin-top: 50%;
    font-size: 2.6rem;
  }

  .gallery__overlay .gallery__description {
    margin-left: 2.5%;
    font-size: 1.2rem;
  }
}