/* Mobile-First Adjustments */
.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.contact__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Card layout & style */
.contact__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 160px;
  width: 160px;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.438);
  border-radius: 10px;
  background-color: rgb(238, 210, 178);
  border: 1px solid rgb(94, 94, 94);
}

/* Hover effect */
.contact__item:hover {
  box-shadow: 0 0 15px var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/* Typography */
.contact__item-title {
  position: relative;
  top: 7%;
  font-size: 1.7rem;
  font-weight: 700;
}

/* Image centering */
.contact__item-img {
  display: block;
  margin: 0 auto;
  width: 60%;
  position: relative;
  top: 10%;
}

/* Desktop Adjustments */
@media (min-width: 1280px) {
  .contact__container {
    margin-top: 60px;
    gap: 70px;
  }

  .contact__item {
    height: 300px;
    width: 300px;
  }

  .contact__item-title {
    font-size: 2.3rem;
  }
}