<!--Navbar-->
    <header class="site-header">
        <nav role="navigation" class="navbar shadow-soft">
            <div class="navbar__logo">BS</div>
            <ul class="navbar__list">
                <li aria-label="Home" class="navbar__item"><a href="#" class="navbar__link">Home</a></li>
                <li aria-label="Projects" class="navbar__item"><a href="#" class="navbar__link">Projects</a></li>
                <li aria-label="Pricing" class="navbar__item"><a href="#" class="navbar__link">Pricing</a></li>
                <li aria-label="Contact" class="navbar__item"><a href="#" class="navbar__link">Contact</a></li>
            </ul>
        </nav>
    </header>