<!--Navbar-->
    <header class="site-header">
        <nav class="navbar shadow-soft">
            <div class="navbar__logo">BS</div>
            <ul class="navbar__list">
                <li class="navbar__item"><a href="#home" class="navbar__link">Home</a></li>
                <li class="navbar__item"><a href="#projects" class="navbar__link">Projects</a></li>
                <li class="navbar__item"><a href="#pricing" class="navbar__link">Pricing</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Contact</a></li>
            </ul>
        </nav>
    </header>