<!--About Us Section-->
        <section id="about-us" class="about-us">
            <div class="about-us__container-1">
                <h3 class="about-us__title">About Us</h3>
                <p class="about-us__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque commodo erat non ipsum facilisis, nec rutrum orci aliquet.</p>
            </div>
            <div class="about-us__container-2">
                <p class="about-us__description description2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque commodo erat non ipsum facilisis, nec rutrum orci aliquet.</p>
                <p class="about-us__description description3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque commodo erat non ipsum facilisis, nec rutrum orci aliquet.</p>
            </div>
        </section>