<!--Gallery Section-->
        <section id="projects" class="gallery">

            <h2 class="section__title">Lorem ipsum</h2>
            <h3 class="section__subtitle">Nunc in urna ultricies, consequat augue a, consectetur justo. Vestibulum varius.</h3>

            <div class="gallery__container">
                <figure class="gallery__item">
                    <img src="images/test-image-1.jpg" alt="Image" class="gallery__image gallery__image-1" loading="lazy">
                    <figcaption class="gallery__overlay">
                        <h3 class="gallery__title">Title</h3>
                        <p class="gallery__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque commodo erat non ipsum facilisis, nec rutrum orci aliquet.</p>
                    </figcaption>
                </figure>

                <div class="gallery__item">
                    <img src="images/test-image.jpg" alt="Image" class="gallery__image gallery__image-2" loading="lazy">
                    <div class="gallery__overlay">
                        <h3 class="gallery__title">Title</h3>
                        <p class="gallery__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque commodo erat non ipsum facilisis, nec rutrum orci aliquet.</p>
                    </div>
                </div>

                <div class="gallery__item">
                    <img src="images/test-image-2.jpg" alt="Image" class="gallery__image gallery__image-3" loading="lazy">
                    <div class="gallery__overlay">
                        <h3 class="gallery__title">Title</h3>
                        <p class="gallery__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque commodo erat non ipsum facilisis, nec rutrum orci aliquet.</p>
                    </div>
                </div>

                <div class="gallery__item">
                    <img src="images/test-image-3.jpg" alt="Image" class="gallery__image gallery__image-4" loading="lazy">
                    <div class="gallery__overlay">
                        <h3 class="gallery__title">Title</h3>
                        <p class="gallery__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque commodo erat non ipsum facilisis, nec rutrum orci aliquet.</p>
                    </div>
                </div>
            </div>
        </section>