<!--Contact Section-->
        <section id="contact" class="contact">
            <h2 class="section__title">Lorem ipsum</h2>
            <h3 class="section__subtitle">Nunc in urna ultricies, consequat augue a, consectetur justo. Vestibulum varius.</h3>

            <div class="contact__container">
                <article class="contact__item" role="button" tabindex="0">
                    <p class="contact__item-title">WhatsApp</p>
                    <img class="contact__item-img" src="images/whatsapp_icon-icons.com_62756.png" alt="Whatsapp logo">
                </article>

                <article class="contact__item" role="button" tabindex="0" aria-label="Whatsapp contact">
                    <p class="contact__item-title">Gmail</p>
                    <img class="contact__item-img" src="images/gmail.png" alt="Gmail logo" aria-label="Gmail contact">
                </article>
            </div>
        </section>