<!--Pricing Section-->
        <section id="pricing" class="pricing">

            <h2 class="section__title">Lorem ipsum</h2>
            <h3 class="section__subtitle">Nunc in urna ultricies, consequat augue a, consectetur justo. Vestibulum varius.</h3>

            <div class="pricing__container">

                <article class="pricing__item">
                    <h4 class="pricing__item-title">Test pack</h4>

                    <div class="pricing__features-container">
                        <ul class="pricing__feature">
                            <li>Feature</li>
                            <li>Feature</li>
                            <li>Feature</li>
                            <li>Feature</li>
                            <li>Feature</li>
                            <li>Feature</li>
                        </ul>
                        <ul class="pricing__benefit">
                            <li>&#10007</li>
                            <li>&#10003</li>
                            <li>&#10003</li>
                            <li>&#10007</li>
                            <li>4 sections</li>
                            <li>6 days</li>
                        </ul>
                    </div>
                    <p class="pricing__price">$180</p>
                    <div class="pricing__button-container">
                        <a aria-label="" href="" class="order__button">Order</a>
                        <a aria-label="" href="" class="order__button">Order</a>
                    </div>
                </article>
            </div>
        </section>