/* Global resets & base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all var(--transition-speed-fast) ease;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  background-color: var(--background-color);
}

/* Smooth scroll & scrollbar */
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
  transition: color var(--transition-speed-fast);
}

/* Lists */
ul {
  list-style: none;
}

/* Sections */
section {
  min-height: 300px;
  width: 100%;
  padding-bottom: var(--spacing-medium);
}

/* Section headings */
.section__title {
  margin-bottom: 5px;
  width: fit-content;
  position: relative;
  left: 5%;
  font-size: 2.5rem;
}

.section__subtitle {
  width: fit-content;
  max-width: 80%;
  position: relative;
  left: 5%;
  font-size: 1.3rem;
  margin-bottom: var(--spacing-medium);
}

/* Desktop Adjustments */
@media (min-width: 1280px) {
  section {
    min-height: 300px;
    padding-bottom: var(--spacing-large);
  }

  .section__title {
    font-size: 5rem;
  }

  .section__subtitle {
    font-size: 2rem;
  }

  .page__container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    max-width: 1920px;
  }
}